@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,200&display=swap');
:root{
    --green:#27ae60;
    --black: #192a56;
    --light-color:#666;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0, 0, .1);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito' ,sans-serif;
    transition: all .2s linear;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}
 html{
     overflow-x: hidden;
     scroll-padding-top: 5.5rem;
     scroll-behavior: smooth;
     font-size: 62.5%;
 }
 section{
     padding:2rem 9% ;
 }
section:nth-child(even){
    background: #eee;
}
.sub-heading{
    text-align: center;
    font-size: 2rem;
    color: var(--green);
    padding-top: 1rem;
}
.heading{
    text-align: center;
    font-size: 3rem;
    color: var(--black);
    padding-bottom: 2rem;
}
 header{
     position: fixed;
     background: white;
     padding: 1rem 7%;
     top: 0;
     left: 0;
     right: 0;
     display: flex;
     justify-content: space-between;
     align-items: center;
     box-shadow: var(--box-shadow);
     z-index: 1000;
 }
 .btn{
    margin-top: 1rem;
    display: inline-block;
    background: var(--black);
   color: white;
    border-radius: .5rem;
    padding: .8rem 2rem;
    font-size: 1.3rem;
    cursor: pointer;

}
.btn:hover{
  background: var(--green);
    letter-spacing: .1rem;
}
 header .logo{
    color: var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
 }
 header .logo i{
     color: var(--green);
     padding-right: 5px;

 }
 header .nav-bar a{
     font-size: 1.7rem;
     padding: .5rem 1.5rem;
     border-radius: .5rem;
     color: var(--light-color);
 }

 header .nav-bar a.active,
 header .nav-bar a:hover{
     background:var(--green);
     color: white;
     transition:  0.7s ;
     
 }
 header .icons i ,
 header .icons a{
     cursor: pointer;
     margin-left: .5rem;
     height: 4rem;
     width: 4rem;
     line-height: 4rem;
     text-align: center;
     border-radius: 50%;
     color: var(--black);
     font-size: 1.5rem;
     background: #eee;

 }
 header .icons i:hover{
     background: darkgrey;
     color: white;
     z-index: 1000;
     transform: rotate(360deg);
 }
 header .icons #menu-bars{
     display: none;
 }



 #search-form{
     position: fixed;
     left: 0;
     top: -110%;
     height: 100%;
     width: 100%;
     background: rgba(0,0, 0, .8);
     padding: 0 1rem ;
     z-index: 1004;
     display: flex;
     justify-content: center;
     align-items: center;
     opacity: 0.8;
 }
 #search-form.active{
    top: 0;
}
 #search-form  #search-box{
     border-top: none;
     border-right: none;
     border-left: none;
     border-bottom: .2rem solid white;
     width: 50rem;
     background: none;
     font-size: 2rem;
     color:#eee;
     text-transform: none;
     letter-spacing: 1px;
     padding: 1rem 0;

 }
 #search-form  #search-box::placeholder{
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    
 }
 #search-form  #search-box::-webkit-search-cancel-button{
     -webkit-appearance: none;
 }
 #search-form label{
     color: white;
     font-size: 2rem;
     cursor: pointer;

 }
 #search-form label:hover{
     color: var(--green);
     
 }
 #search-form #close{
     position: absolute;
     top: 2rem;
     right: 3rem;
     font-size: 3rem;
     color: white;
     cursor: pointer;
 }
 #search-form  #search-box{
     width: 90%;
     margin: 0 1rem;
 }

 .home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 2rem;
}

 /* starting of the home page */
 .home .home-slider .slide{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:2rem; 
    padding-top: 9rem;
}

.home .home-slider .slide .content{
    flex:1 1 45rem;
}


.home .home-slider .slide .image{
    flex:1 1 45rem;
}

.home .home-slider .slide img{
    width: 100%;
}

.home .home-slider .slide .content span{
    color:var(--green);
    font-size: 2.5rem;
}

.home .home-slider .slide .content h3{
    color:var(--black);
    font-size: 4rem;
}

.home .home-slider .slide .content p{
    color:var(--light-color);
    font-size: 2.2rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-pagination-bullet-active{
    background:var(--green);
}
.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem,1fr));
    grid-gap: 1.5rem;
}
.dishes .box-container .box{
    padding: 2.5rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0, 0, .2) ;
    box-shadow: var(--box-shadow);
    outline: none;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    color: var(--black);
    top: 1.5rem;
    background: #eee;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color: white;
}
.dishes .box-container .box .fa-heart{
    right:-15rem;

}
.dishes .box-container .box .fa-eye{
    left:-15rem;
}
.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;

}
.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}
.dishes .box-container .box img{
    height: 17rem;
    margin: 1rem 0;
}
.dishes .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;

}
.dishes .box-container .box span{
    color: var(--green);
    font-size: 2rem;
    font-weight: bolder;
    margin-right: 1rem;

}
.dishes .box-container .box .star {
    color: goldenrod;
    padding: 1rem 0;
}
.dishes .box-container .box .star i{
    font-size: 1.7rem;

}



 /* end of the header */
 .about .row {
     display: flex;
     flex-wrap: wrap;
     gap: 1.5rem;
     align-items: center;

 }
 .about .row .image{
     flex: 1 1 45rem;
 }
 .about .row .image img{
     width: 100%;
 }
 .about .row .content{
     flex: 1 1 45rem;
 }
 .about .row .content h3{
     color: var(--black);
     font-size: 4rem;
     padding: .5rem 0;
 }
 .about .row p{
     font-size: 1.5rem;
     color: var(--light-color);
     line-height: 2;
    padding: .5rem 0;

 }
 .about .row .content .icons-container{
     display: flex;
     gap: 1rem;
     flex-wrap: wrap;
     margin-top: .5rem;
     padding: 1rem 0;
 }
 .about .row .content .icons-container .icons{
     background: #eee;
     color: var(--black);
     border: .1rem solid rgba(0,0, 0, .2);
     border-radius: .5rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     flex: 1 1 10rem;
     padding: 1rem 1rem;
     border-radius: 1rem;
     box-shadow: var(--box-shadow);
 }
 .about .row .content .icons-container .icons i{
     font-size: 2.5rem;
     color: var(--green);

 }
 .about .row .content .icons-container .icons span{
     font-size: 1.5rem;
 }
 .about .row .content .icons-container .icons:hover{
     color: white;
     background: var(--black);
 }
 .menu .box-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));   
    grid-gap: 1.5rem;

}

.menu .box-container .box{
    background: #fff;
    border: .1rem solid rgba(0,0, 0, .2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}
.menu .box-container .box .images{
    position: relative;
    height: 25rem;
    width: 100%;
    padding: 1.5rem;
    overflow: hidden;
    outline: none;
}
.menu .box-container .box .images img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}
.menu .box-container .box .images .fa-heart{
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    color: var(--black);
    line-height:.5rem;
    font-size: 2rem;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu .box-container .box .images .fa-heart:hover{
    color: yellow;
    background: var(--light-color);
    z-index: 1000;
}
.menu .box-container .box .content{
    padding: 2rem;
    padding-top: 0;
}
.menu .box-container .box .content .star{
    color: var(--green);
    padding-bottom: 1rem;
}
.menu .box-container .box .content .star i{
    font-size: 1.7rem;
}
.menu .box-container .box .content h3{
    color: var(--black);
    font-size: 2.5rem;
    padding: 1rem;
}
.menu .box-container .box .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem;

}

.menu .box-container .box .content .price{
    color: var(--green);
    margin-left: 1.5rem;
    font-size: 1.5rem;
}
/* review section starts */
.review .slider{
    box-shadow: var(--box-shadow);
    position: relative;
    border: .1rem solid rgba(0,0, 0, .2);
    border-radius: .5rem; 
    padding: 2rem;
}
.review .slider:hover{
    z-index: 100;
}
.review .slider .fa-quote-right{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 5rem;
    color: #ccc;
}
.review .slider .user img{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: none;
    overflow: hidden;
    object-fit: cover;
}
.review .slider .user{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}
.review .slider h3{
    font-size: 2rem;
    color: var(--green);
    padding-bottom: .5rem;

}
.review .slider .user i{
    font-size: 1.2rem;
    color: var(--green);

}
.review .slider .user p{
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 1.8rem;

}
.slider {
    overflow: hidden;
}
.slider .user {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}
.slider .user img{
    width: 20%;
    float: left;
}
@keyframes slide{
    0% {
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left :-300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -300%;
    }
}
.order form{
    width: 90rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0,0, 0, .2);
    box-shadow: var(--box-shadow);
    background: #fff;
    padding: 2rem;
    margin: 0 auto;
}
.order form .input-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.order form .input-box .input{
    width: 49%;
}
.order form .input-box .input label{
    display: block;
    padding: .5rem 0;
    font-size: 1.5rem;
    color: var(--light-color);
}
.order form .input-box .input input,
.order form .input-box .input textarea{
    background: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}
.order form .input-box .input textarea{
    height: 20rem;
    resize: none;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem,1fr));   
    gap: 1.5rem;
    width: 100%;

}
.footer .box-container .box h3{
    padding: .5rem 0;
    font-size: 2.5rem;
    color: var(--black);
}
.footer .box-container .box a{
    display: block;
    color: var(--light-color);
    padding: .5rem 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.footer .box-container .box a:hover{
    color: var(--green);
    text-decoration: underline;
    font-size: 1.7rem;
    letter-spacing:.2rem ;
}
.footer .credit{
    color: blue;
    text-align: center;
    border-top: .1rem solid rgba(0,0, 0, .1);
    font-size: 1rem;
    padding: .5rem;
    padding-top: .1rem;
    margin-top: 1.5rem;
}
.footer .credit span{
    color: var(--green);
}
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.loader-container img{
    width: 35rem;
}
/* .loader-container .fade-out{
    top:110%;
    opacity: 0;
} */









 /* media queries  */
 @media(max-width:991px){ /* this is for large devices like desktop*/
    html{
        font-size: 50%;
    }
    header{
        padding: 1rem 2rem;
    }
    section{
        padding: 2rem;
    }
    .dishes .box-container .box img{
 
        height: auto;
        width: 100%;
    }
    .order form .input-box .input{
        width: 100%;
    }
 }
 @media (max-width:450px){
    html{
        font-size: 50%;
    }
    .dishes .box-container .box img{
 
        height: auto;
        width: 100%;
    }
    .order form .input-box .input{
        width: 100%;
    }
 }






 @media (max-width:768px){
    header .icons #menu-bars{
        display: inline-block;/* in here the top and bottom margins and paddings are respected */
    }
    header .nav-bar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        border-top: 1rem solid rgba(0,0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0);
    }
    header .nav-bar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .nav-bar a{
        display: block;
        padding: 1.5rem;
        padding-bottom: 1rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
        
    }
 }